/* General Settings */
* {
  margin: 0;
  padding: 0;
}

a {
color: #7a7a7a;
font-size: 100px;
font-weight: 600;
}

/* Flex Layout */
.flex_container {
  display: flex;
  flex-direction: row;
}

/* Back ground settings */
body {
  background-color:#161616;
}

.flex_item {
  flex-grow: 1;
  width: 50vw;
}

/* Display Settings */
.flex_item img {
  width: -webkit-fill-available;
  padding: 25px;
}

/* Label Styles */
.flex_item label {
  padding: 0 50px;
  font-size: 40px;
  color:#a0a0a0;
}
/* SLider Styles */
.slidecontainer {
    width: 100%;
}
  
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: rgb(234, 241, 234);
  cursor: pointer;
}
.green::-webkit-slider-thumb {
  background:#7a7a7a ;
}
.cherry::-webkit-slider-thumb {
  background: #7a7a7a;
}

.brown::-webkit-slider-thumb {
  background: #7a7a7a;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #7a7a7a;
  cursor: pointer;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 30px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  top: 40px;
  display: inline-block;
  font-size: 16px;
  margin: 10px 50px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button3 {
  background-color: #474545; 
  color: black; 
  border: 2px solid #474545;
}

.button3:hover {
  background-color: white;
  color: black;
}

